.signup {
  width: 25%;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 37%;
}

.signup > h3 {
  border-bottom: 1px solid #c4c3c2;
  text-align: center;
  padding: 10px;
  background-color: #2b2b2b;
  color: #fff;
  letter-spacing: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.signup > form {
  padding: 10px;
  border-left: 1px solid #c4c3c2;
  border-right: 1px solid #c4c3c2;
}

.signup > form > input {
  width: 100%;
  margin: 3px auto 20px auto;
  padding: 8px;
  font-size: 15px;
  background-color: #efefef;
  border: none;
  border-radius: 5px;
}

.signup-name > input,
.signup-age > input {
  width: 100%;
  margin: 3px auto 20px auto;
  padding: 8px;
  font-size: 15px;
  background-color: #efefef;
  border: none;
  border-radius: 5px;
}

.signup > form > label {
  font-size: 13px;
  letter-spacing: 1px;
}

.signup-name > label,
.signup-age > label {
  font-size: 13px;
  letter-spacing: 1px;
}

.signup-name {
  flex: 0.8;
}

.signup-age {
  flex: 0.4;
  margin-left: 20px;
}

.signup-first {
  display: flex;
  justify-content: space-between;
}

.signup-submit {
  width: 100%;
  padding: 10px;
  background-color: #2b2b2b;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-top: -10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.signup-footer > p {
  text-align: center;
  margin-top: 10px;
}
