.postDoubt-heading {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 30px;
}

.postDoubt-question {
  width: 50%;
  margin: 50px auto 10px auto;
}

.postDoubt-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
}

.postDoubt-inputImg {
  opacity: 1;
}
