.postDoubt-uploadImg {
  display: flex;
  align-items: center;
}

.postDoubt-uploadImg > p {
  margin-right: 10px;
  font-weight: bold;
}

.postDoubt-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postDoubt-editor {
  width: 60%;
  margin: auto;
}
