.feedBlock {
  margin: 30px auto;
  border: 1px solid #f0f0f0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.75);
  background-color: #fff;
}

.feedBlock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border-bottom: 1px solid #c4c3c2;*/
  padding: 5px;
  /*background-color: #e5e5e5;*/
  /*border-top-left-radius: 10px;*/
  /*border-top-right-radius: 10px;*/
}

.feedBlock-author {
  display: flex;
  align-items: center;
}

.feedBlock-main {
  padding: 10px;
}

.feedBlock-question {
  margin-bottom: 10px;
}

.feedBlock-navigateLink {
  color: #000;
  text-decoration: none;
}

.feedBlock-navigateLink:hover {
  text-decoration: underline;
}

.feedBlock-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #c4c3c2;
  padding: 5px;
}

.feedBlock-footer-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}
