.home {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
  overflow: hidden;
}

.home-left {
  margin-left: 100px;
}

.home-trend {
  margin-top: 30px;
  position: absolute;
  top: 70px;
  right: 50px;
  width: 20%;
}
